
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Client Register page</title>
        <meta charset="utf-8" />
  </head>
    <body>
        <h1>Client Register page</h1>

        <form action="/client/registerAction" method="post">
            <label for="id">client</label>:
            <input type="text" id="redirectUri1" name="redirectUri1"  /> <br />
            <input type="text" id="redirectUri2" name="redirectUri2"  /> <br />
            <input type="submit" value="register" />
        </form>
    </body>
</html>
